/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .header-top .logo img {
    width: 100%;
  }
  .search-bar {
    display: none;
  }

  .header-icon {
    display: none;
  }
  .slider {
    background-image: url(../images/image_2021_08_02T12_46_45_717Z.png);
    min-height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .header-top .logo {
  }
  .header-top .logo img {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
